.layout {
  display: flex;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  margin: auto;
  align-items: start;
  justify-content: center;
  grid-template-areas: "header" "main" "footer";
}

@media screen and (min-width: 1024px) {
  .layout {
    width: 900px;
    gap: 32px;
  }
}

@media screen and (max-width: 1024px) {
  .layout {
    width: 100%;
    padding: 0 16px;
    gap: 16px;
  }
}
