@use "../styles/colors.scss";
@import "../styles/fonts.scss";

a.link {
  @include text-xs;
  color: colors.$blue-200;
  font-weight: normal;

  &[role="link"] {
    &:hover {
      color: colors.$blue-100;
    }
  }

  &[role="button"], a[role="icon"] {
    color: colors.$neutral-100;
    font-weight: normal;
  }

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
