@use "../styles/colors.scss" as colors;

.moment {
  font-size: 14px;
  color: colors.$blue-100;
  margin: 0;
  padding: 0;
  &:hover {
    cursor: default;
  }
}

span.moment {
  position: relative;
  left: 24px;
  top: 0px;
}
