.bounce-left {
  animation: bounceLeft var(--duration, 1s) forwards;
  animation-timing-function: ease-in-out;
}

.bounce-right {
  animation: bounceRight var(--duration, 1s) forwards;
  animation-timing-function: ease-in-out;
}

.blur-in {
  animation: blurIn var(--duration, 1s) forwards;
  animation-timing-function: ease-in-out;
}

@keyframes bounceLeft {
  from {
    transform: translateX(var(--from, 0px))
  }
  to {
    transform: translateX(var(--to, -100px))
  }
}

@keyframes bounceRight {
  from {
    transform: translateX(var(--from, -100px))
  }
  to {
    transform: translateX(var(--to, 0px))
  }
}

@keyframes blurIn {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(4px);
  }
}
