$blue-900: #111A20;
$blue-800: #1C2C35;
$blue-500: #243B4A;
$blue-300: #416883;
$blue-200: #5E8CA7;
$blue-100: #7CC9FF;

$green-100: #B0FBBC;
$green-200: #82F9A1;
$green-300: #00E895;

$neutral-100: #ECF8FF;
$neutral-200: #C9E2F0;

$red-100: #F98282;
