@use "colors.scss" as colors;
@import "lang-theme.scss";
@import "fonts.scss";

* {
  box-sizing: border-box;
  font-size: 100%;
  padding: 0;
  margin: 0;
  color: inherit;
  z-index: 0;
  list-style: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: colors.$neutral-100;
  background-color: colors.$blue-900;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 100%;
  text-align: left;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: colors.$blue-300;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: colors.$green-100;
}
