@media screen and (min-width: 1024px) {
  .layout {
    width: 900px;
    gap: 32px;
  }

  footer {
    padding: 48px 0px;
  }

  header {
    padding-top: 68px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1024px) {
  .layout {
    width: 100%;
    padding: 0 16px;
    gap: 16px;
  }

  footer {
    padding: 32px 0px;
  }

  footer > div.flex {
    width: 100%;
    flex-direction: column;
  }

  main {
    padding-top: 64px;
  }

  header {
    padding-top: 16px;
    display: flex;
    justify-content: flex-end;
  }
}
