$blue10: #111A20;
$blue20: #1C2C35;
$blue30: #243B4A;
$blue40: #416883;
$blue50: #5E8CA7;
$blue60: #7CC9FF;
$glow10: #B0FBBC;
$glow20: #82F9A1;
$text10: #ECF8FF;
$text20: #C9E2F0;

$blue: blue;
$green: green;
$purple: purple;

$error: #F98282;
$success: #00E895;